root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = []
bin = "./dist/kiosk"
full_bin = "KIOSK_LOG_LEVEL=debug ./dist/kiosk"
cmd = "task build"
delay = 1000
exclude_dir = [
    "assets",
    "frontend/public/assets",
    "tmp",
    "vendor",
    "testdata",
    "offline-assets",
    "node_modules",
]
exclude_file = []
exclude_regex = ["_test.go", "internal/templates/.*\\.go$"]
exclude_unchanged = false
follow_symlink = false
include_dir = []
include_ext = ["go", "tpl", "tmpl", "templ", "html", "css", "ts"]
include_file = []
kill_delay = "1s"
log = "build-errors.log"
poll = false
poll_interval = 0
post_cmd = []
pre_cmd = []
rerun = false
rerun_delay = 500
send_interrupt = true
stop_on_error = false

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
time = false

[misc]
clean_on_exit = false

[proxy]
app_port = 0
enabled = false
proxy_port = 0

[screen]
clear_on_rebuild = false
keep_scroll = true
