/* src/css/fonts.css */
/* src/css/globals.css */
*{}
*:focus{}
body{}
/* src/css/container.css */
#kiosk{}
#kiosk.htmx-swapping{}
@-webkit-keyframes fade-in{}
from{}
@-moz-keyframes fade-in{}
from{}
#kiosk.htmx-settling .htmx-added:last-of-type{}
/* src/css/spinner.css */
.kiosk--spinner{}
/* src/css/frame.css */
.frame{}
.frame--image{}
.frame--image img{}
.frame--image-fit-contain{}
.frame--image-fit-cover{}
.frame--background{}
.frame--background img{}
.layout-splitview .frame{}
.frame--layout-splitview{}
.frame--layout-splitview:nth-child(1){}
.frame--layout-splitview:nth-child(2){}
.frame--layout-splitview .frame--image{}
.layout-splitview-landscape{}
.layout-splitview-landscape .frame{}
.frame--layout-splitview-landscape:nth-child(1){}
.frame--layout-splitview-landscape:nth-child(2){}
.frame--layout-splitview-landscape .frame--image{}
/* src/css/image.css */
.image--metadata{}
.image--metadata--theme-fade::before{}
.frame--layout-splitview:nth-child(1) .image--metadata--theme-fade::before{}
.image--metadata--theme-solid{}
.frame--layout-splitview:nth-child(1) .image--metadata--theme-solid{}
.image--metadata .responsive-break{}
.image--metadata div:empty{}
.image--metadata div{}
.image--metadata--date{}
.image--metadata--exif{}
.image--metadata--exif--fnumber{}
.image--metadata--exif--seperator{}
.frame--layout-splitview .image--metadata--desciption, .frame--layout-splitview-landscape .image--metadata--desciption{}
.frame--layout-splitview:nth-child(1) .image--metadata{}
.frame--image-zoom img{}
.frame:nth-last-of-type(-n+2) .frame--image-zoom-in img{}
.frame:nth-last-of-type(-n+2) .frame--image-zoom-out img{}
.frame:nth-last-of-type(-n+2) .frame--image-smart-zoom-out img{}
.frame:nth-last-of-type(-n+2) .frame--image-smart-zoom-in img{}
.polling-paused .frame:nth-last-of-type(-n+2) img{}
/* src/css/error.css */
.error-container{}
.error{}
.error svg{}
.error ul li{}
.error--title{}
.error--message{}
/* src/css/progress.css */
.progress{}
.progress--bar{}
/* src/css/offline.css */
#offline{}
#offline svg{}
.offline{}
.sleep #offline{}
/* src/css/clock-weather-container.css */
#clock-weather-container{}
.layout-splitview #clock-weather-container{}
.sleep #clock-weather-container{}
/* src/css/clock.css */
#clock{}
.clock--theme-fade::before{}
.clock--theme-solid{}
.clock--date{}
.clock--time{}
.sleep #clock{}
.sleep .clock--date{}
.sleep .clock--time{}
.sleep #clock::before{}
@-webkit-keyframes clock-screesaver{}
0%{}
11%{}
22%{}
33%{}
44%{}
55%{}
66%{}
77%{}
88%{}
100%{}
@-moz-keyframes clock-screesaver{}
0%{}
11%{}
22%{}
33%{}
44%{}
55%{}
66%{}
77%{}
88%{}
100%{}
/* src/css/weather.css */
#weather{}
.layout-splitview #weather{}
.weather--theme-fade::before{}
.weather{}
.weather--temp{}
.weather--temp--value{}
.weather--temp--unit{}
.weather--description{}
.weather--description--icon{}
.weather--description--icon svg{}
.weather--description--value{}
.layout-splitview .weather{}
.layout-splitview .weather--theme-fade::before{}
.layout-splitview .weather--theme-solid{}
.weather--theme-solid{}
.sleep #weather{}
/* src/css/menu.css */
#navigation-interaction-area{}
#navigation-interaction-area--next-image{}
#navigation-interaction-area--menu{}
.navigation{}
.navigation--item{}
.navigation--item--separator{}
.navigation-hidden{}
.navigation svg{}
.rounded{}
.navigation--flush-cache svg{}
.navigation--fullscreen--exit{}
.navigation--fullscreen-enabled .navigation--fullscreen--exit{}
.navigation--fullscreen-enabled .navigation--fullscreen--enter{}
.navigation--media-buttons{}
.navigation--media-buttons .navigation--item{}
.navigation--play-pause--play{}
.navigation--control--paused .navigation--control--play{}
.navigation--control--paused .navigation--control--pause{}
.navigation--prev-image.disabled{}
/* src/css/sleep.css */
#sleep-controller{}
.sleep #sleep-controller{}
/* src/css/kiosk.css */
