<div>
    {{if .BackgroundBlur }}
    <div id="frame-background">
        <img src="{{ .ImageUrl }}" alt="" />
    </div>
    {{ end }}
    <img
        id="main-image"
        src="{{ .ImageUrl }}"
        {{if
        .FillScreen}}class="fillscreen"
        {{end}}
        alt=""
    />
    {{if .ShowDate }}
    <div id="date">{{ .Date }}</div>
    {{ end }}

    <input
        name="employeeNumber"
        type="hidden"
        value='{"date": "{{ .Date }}", "img": "{{ .ImageUrl }}"}'
    />
</div>
