<div class="frame {{if not .Config.BackgroundBlur}}frame-black-bg{{end}}">
    {{if .Config.BackgroundBlur }}
    <div class="frame--background">
        <img src="{{ .ImageBlurData }}" alt="" />
    </div>
    {{ end }}
    <div class="frame--image">
        <img
            class="{{if .Config.FillScreen}}frame--image-fillscreen{{end}}"
            src="{{ .ImageData }}"
            alt=""
        />
    </div>
    {{if ne .Date ""}}
    <div class="frame--date">{{ .Date }}</div>
    {{ end }}
</div>

{{if .Config.ShowProgress }}
<div class="progress">
    <div
        class="progress--bar"
        style="animation-duration: {{ .Config.Refresh }}s;"
    ></div>
</div>
{{end}}
