package views

type ClockData struct {
	ClockTime string
	ClockDate string
}

templ Clock(data ClockData) {
	if data.ClockDate != "" {
		<div class="clock--date">{ data.ClockDate }</div>
	}
	if data.ClockTime != "" {
		<div class="clock--time">{ data.ClockTime }</div>
	}
}
