.polling-paused.more-info,
.polling-paused.redirects-open {
    #clock-weather-container {
        opacity: 0.2;
    }
}

#clock-weather-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    height: 100vh;
    min-height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: var(--z-clock);
}

/* Splitview */
.layout-splitview #clock-weather-container {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: auto;
    bottom: unset;
}

.sleep #clock-weather-container {
    height: 100%;
    width: 100%;
    z-index: var(--z-sleep-clock);
}
