/* --- clock --- */
#clock {
    position: relative;
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);

    padding: 1rem;

    z-index: 10000;
}

@media screen and (max-width: 31.25rem) {
    #clock {
        padding: 0.5rem;
    }
}

/* fade theme */
.clock--theme-fade::before {
    content: "";
    position: absolute;
    bottom: unset;
    top: -1rem;
    left: -1rem;
    width: 150%;
    height: 200%;
    background-image: radial-gradient(
        100% 100% at 0% 0%,
        hsla(0, 0%, 0%, 0.59) 0%,
        hsla(0, 0%, 0%, 0.582) 5.2%,
        hsla(0, 0%, 0%, 0.561) 10.9%,
        hsla(0, 0%, 0%, 0.529) 16.9%,
        hsla(0, 0%, 0%, 0.487) 23.3%,
        hsla(0, 0%, 0%, 0.437) 29.9%,
        hsla(0, 0%, 0%, 0.382) 36.8%,
        hsla(0, 0%, 0%, 0.324) 43.8%,
        hsla(0, 0%, 0%, 0.266) 51%,
        hsla(0, 0%, 0%, 0.208) 58.2%,
        hsla(0, 0%, 0%, 0.153) 65.4%,
        hsla(0, 0%, 0%, 0.103) 72.6%,
        hsla(0, 0%, 0%, 0.061) 79.7%,
        hsla(0, 0%, 0%, 0.029) 86.7%,
        hsla(0, 0%, 0%, 0.008) 93.5%,
        hsla(0, 0%, 0%, 0) 100%
    );
    z-index: 0;
}

/* solid theme */
.clock--theme-solid {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 2rem 0;
}

.clock--date {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.clock--time {
    position: relative;
    padding-right: 3rem;
    font-size: 3rem;
    z-index: 1;
}

/* In sleep mode */
.sleep #clock {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: unset;
    right: unset;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: 99999;
    line-height: 1;
}

.sleep .clock--date {
    font-size: 8vw;
}

.sleep .clock--time {
    padding-right: 0;
    font-size: 18vw;
}

.sleep #clock::before {
    display: none;
}
