#clock-weather-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
    top: 0;
    left: 0;

    z-index: var(--z-clock);

    transition: opacity var(--burn-in-fade) ease-in-out;
    opacity: 1;
}

.burn-in-dim #clock-weather-container {
    opacity: var(--burn-in-opacity);
}

.polling-paused.more-info,
.polling-paused.redirects-open {
    #clock-weather-container {
        opacity: 0.2;
    }
}

/* Splitview */
.layout-splitview #clock-weather-container {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: auto;
    bottom: unset;
}

.sleep #clock-weather-container {
    height: 100%;
    width: 100%;
    z-index: var(--z-sleep-clock);
}
