/* --- koisk (main container) ---- */
#kiosk {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
    opacity: 1;
    transition: opacity 1s ease-out;

    z-index: 0;
}

/* Fade transition */
#kiosk.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
/* END Fade transition */

/* Cross fade transtion */
@keyframes fade-in {
    from {
        opacity: 0;
    }
}

#kiosk.htmx-settling .htmx-added:last-of-type {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* END Cross fade transtion */
