/* --- error --- */
.error-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.error {
    background-color: rgba(204, 0, 0, 0.4);
    border: 0.125rem solid rgb(204, 0, 0);
    max-width: 35rem;
    width: 100%;
    color: #fff;
    padding: 2rem;
    border-radius: 0.75rem;

    svg {
        max-width: 2rem;
        fill: #fff;
    }

    ul li {
        padding-bottom: 0.5rem;
    }
}

.error--title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.error--message {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 0;
}
