/* --- frame --- */
.frame {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background-color: #000;

    z-index: 0;
}

.frame--image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.frame--image img {
    position: relative;

    max-width: 100%;
    max-height: 100%;
}

.frame--image-fit-contain {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.frame--image-fit-cover {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.frame--background {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
}

.frame--background img {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Splitview layout */
.layout-splitview {
    .frame {
        border: 0.4rem solid black;
        border-radius: 0.75rem;
    }

    &.frameless .frame {
        border: none;
        border-radius: 0;
    }
}

.frame--layout-splitview {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.frame--layout-splitview:nth-child(1) {
    border-right: 0.2rem solid black;
    border-radius: 0.75rem;
}

.frame--layout-splitview:nth-child(2) {
    border-left: 0.2rem solid black;
    border-radius: 0.75rem;
}

.frameless .frame--layout-splitview {
    border-radius: 0;
}

.frame--layout-splitview .frame--image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Splitview landscape layout */
.layout-splitview-landscape {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;

    .frame {
        flex-direction: column;
        border: 0.4rem solid black;
        border-radius: 0.75rem;
    }

    &.frameless .frame {
        flex-direction: column;
        border: none;
        border-radius: 0;
    }
}

.frame--layout-splitview-landscape:nth-child(1) {
    border-bottom: 0.2rem solid black;
    border-radius: 0.75rem;
}

.frame--layout-splitview-landscape:nth-child(2) {
    border-top: 0.2rem solid black;
    border-radius: 0.75rem;
}

.frameless .frame--layout-splitview-landscape {
    border-radius: 0;
}

.frame--layout-splitview-landscape .frame--image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
