/* --- image metadata --- */
.polling-paused.more-info {
    .image--metadata {
        opacity: 0.2;
    }
}

.image--metadata {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    max-width: 70vw;
    padding: 1rem;
    color: #fff;
    font-size: 1.1rem;
    text-align: right;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);
}

/* fade theme */
.image--metadata--theme-fade::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150%;
    height: 200%;
    background-image: radial-gradient(
        100% 100% at 100% 100%,
        var(--fade-gradient)
    );
    z-index: var(--z-base);
}

.frame--layout-splitview:nth-child(1) .image--metadata--theme-fade::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: unset;
    left: 0;
    width: 150%;
    height: 200%;
    background-image: radial-gradient(
        100% 100% at 0% 100%,
        var(--fade-gradient)
    );
    z-index: var(--z-base);
}

/* solid theme */
.image--metadata--theme-solid {
    padding-left: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem 0 0 0;
}

.frame--layout-splitview:nth-child(1) .image--metadata--theme-solid {
    padding-right: 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 2rem 0 0;
}

.image--metadata .responsive-break {
    display: none;
}

.image--metadata:empty,
.image--metadata div:empty {
    display: none;
    padding: 0;
}

.image--metadata div {
    z-index: 1;
}

.image--metadata--date {
    font-size: 1.3rem;
}

.image--metadata--exif {
}
.image--metadata--exif--fnumber {
    display: inline-block;
    font-size: 0.84rem;
    font-weight: bold;
    transform: translate(0.0625rem, -0.1875rem);
}

.image--metadata--exif--seperator {
    opacity: 0.3;
    padding: 0 0.5rem;
}

.frame--layout-splitview,
.frame--layout-splitview-landscape {
    .image--metadata--desciption {
        max-width: 50%;
    }
}

.frame--layout-splitview:nth-child(1) .image--metadata {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    right: unset;
    max-width: 70vw;
    color: #fff;
    font-size: 1.1rem;
    text-align: left;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);
}

/* Image zoom effect  */

.frame--image-zoom img {
    animation-direction: normal;
    animation-duration: inherit;
    /* transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
    transition-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: inherit;
    object-position: inherit;
    will-change: scale;
}

.frame .frame--image-zoom-in img {
    animation-name: image-zoom-in;
}
.frame .frame--image-zoom-out img {
    animation-name: image-zoom-out;
}

/*  Smart zoom */
.frame .frame--image-smart-zoom-out img {
    animation-name: image-smart-zoom-out;
}

.frame .frame--image-smart-zoom-in img {
    animation-name: image-smart-zoom-in;
}

/* Pause animations when polling is paused */
.polling-paused .frame {
    animation-play-state: paused;
    img {
        animation-play-state: paused;
    }
}

@media screen and (max-width: 31.25rem) {
    .image--metadata {
        padding: 0.5rem !important;
        max-width: 50vw;
    }

    .image--metadata--desciption {
        max-width: 100%;
    }

    .image--metadata--date,
    .image--metadata--exif,
    .image--metadata--location {
        padding-left: 0.5rem;
    }

    .image--metadata--location {
        span {
            display: none;
        }
        .responsive-break {
            display: inline;
        }
    }
}
