/* --- offline icon --- */
#offline {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    display: none;
}

#offline svg {
    filter: drop-shadow(0rem 0rem 1rem black);
}

.offline {
    display: block !important;
}
