/* --- offline icon --- */
#offline {
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -1.5rem;
    width: 3rem;
    height: 3rem;
    display: none;

    z-index: 999999999;
}

#offline svg {
    filter: drop-shadow(0rem 0rem 1rem black);
}

.offline {
    display: block !important;
}

/* In sleep mode */
.sleep #offline {
    opacity: 0.5;
}
