/* --- progress bar --- */
.progress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.18rem;
}

.progress--bar {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0 1rem 1rem 0;
    background-color: #1e83f7;
    transition: width 0.03s linear; /* Smooth transition for the width changes */
    will-change: width;
}
