/* --- progress bar --- */
.progress {
    position: absolute;
    top: 0;
    z-index: var(--z-progress);
    width: 100%;
    height: 0.18rem;

    &.progress-bottom {
        top: unset;
        bottom: 0;
    }
}

.progress--bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e83f7;
    transform: scaleX(0) translateZ(0);
    transform-origin: left;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    transition: transform 0.05s linear;
    will-change: transform;
    /* border-radius: 0 1rem 1rem 0; */
}
