#kiosk-offline-overlay {
    z-index: var(--z-recovery);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    background-color: #1f262f;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    #kiosk-offline-overlay-content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 60vw;
        height: auto;
    }

    &::before {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(to top, rgb(14, 20, 27), transparent);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url(../../public/assets/images/noise-lite.png);
        background-repeat: repeat;
    }

    &.visible {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        opacity: 1;

        svg {
            transform: rotate(0deg);
        }
    }

    h1 {
        margin: 0;
        font-size: 4.5rem;
        font-weight: 500;
        color: white;
        text-align: center;
        letter-spacing: 0.03em;
    }

    img {
        max-width: 160px;
        height: auto;
    }
}
