/* Bubble theme */
.asset--metadata--theme-bubble {
    gap: 0.3rem;
    .asset--metadata--has-icon {
        padding: 0.4rem 1rem;
        text-shadow: none;
        border-radius: 10rem;
        backdrop-filter: blur(0.2rem);
    }
}

/* clock */
.clock--theme-bubble::before {
    position: absolute;
    top: 0;
    bottom: unset;
    left: 0;
    z-index: var(--z-base);
    width: 150%;
    height: 200%;
    content: "";
    background-image: radial-gradient(100% 100% at 0% 0%, var(--fade-gradient));
}

/* weather */
.weather--theme-bubble::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    z-index: var(--z-base);
    width: 150%;
    height: 200%;
    content: "";
    background-image: radial-gradient(
        100% 100% at 100% 0%,
        var(--fade-gradient)
    );
}
