/* Blur theme */

.asset--metadata--theme-blur::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    width: 120%;
    height: 120%;
    z-index: var(--z-base);
    filter: blur(0.5rem);
}

.asset--metadata--theme-blur::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    width: 120%;
    height: 120%;
    z-index: var(--z-base);
    backdrop-filter: blur(0.5rem);
}

/* clock and weather */
.clock--theme-blur,
.weather--theme-blur .weather {
    margin: 1rem;
    background-color: var(--blur-background);
    border-radius: 0.6rem;
    backdrop-filter: blur(0.5rem);
}
