/* solid theme */
.asset--metadata--theme-solid {
    padding: 1rem;
    margin: -1rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 1.5rem 0 0;

    &::after {
        content: "";
        position: absolute;

        top: -1.5rem;
        left: 0rem;

        width: 1.5rem;
        height: 1.5rem;

        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 100% 0 0;
        corner-shape: scoop;
    }

    &::before {
        content: "";
        position: absolute;

        bottom: 0rem;
        right: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 100% 0 0;
        corner-shape: scoop;
    }
}

.frame--layout-splitview:nth-child(2) .asset--metadata--theme-solid {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1.5rem 0 0 0;

    &::after {
        content: "";
        position: absolute;

        top: -1.5rem;
        left: 0rem;

        width: 1.5rem;
        height: 1.5rem;

        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 100% 0 0 0;
        corner-shape: scoop;
    }

    &::before {
        content: "";
        position: absolute;

        bottom: 0rem;
        left: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 100% 0 0 0;
        corner-shape: scoop;
    }
}

@media (orientation: portrait) {
    .frame--layout-splitview:nth-child(2) .asset--metadata--theme-solid {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 1.5rem 0 0;
    }
}

/* clock */
.clock--theme-solid {
    background-color: rgba(0, 0, 0, 0.6);

    border-radius: 0 0 1.5rem 0;

    &::after {
        content: "";
        position: absolute;

        top: 0.3rem;
        right: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 100% 0;
        corner-shape: scoop;
    }

    &::before {
        content: "";
        position: absolute;

        bottom: -1.5rem;
        left: 0.3rem;

        width: 1.5rem;
        height: 1.5rem;

        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 100% 0;
        corner-shape: scoop;
    }
}

/* weather */
.weather--theme-solid {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 0 1.5rem;
    align-self: start;

    &::after {
        content: "";
        position: absolute;

        top: 0.3rem;
        left: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 0 100%;
        corner-shape: scoop;
    }

    &::before {
        content: "";
        position: absolute;

        bottom: -1.5rem;
        right: 0.3rem;

        width: 1.5rem;
        height: 1.5rem;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 0 100%;
        corner-shape: scoop;
    }
}
