/* solid theme */
.asset--metadata--theme-solid-rounded {
    padding: 1rem;
    margin: -1rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 1.5rem 0 0;

    &::after {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        top: -1.5rem;
        left: 0rem;

        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(180deg);
    }

    &::before {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        bottom: 0rem;
        right: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(180deg);
    }
}

.frame--layout-splitview:nth-child(2) .asset--metadata--theme-solid-rounded {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1.5rem 0 0 0;

    &::after {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        top: unset;
        right: unset;
        bottom: unset;
        left: unset;

        top: -1.5rem;
        right: 0rem;

        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(90deg);
    }

    &::before {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        top: unset;
        right: unset;
        bottom: unset;
        left: unset;

        bottom: 0rem;
        left: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(90deg);
    }
}

@media (orientation: portrait) {
    .frame--layout-splitview:nth-child(2)
        .asset--metadata--theme-solid-rounded {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 1.5rem 0 0;
    }
}

/* clock */
.clock--theme-solid-rounded {
    background-color: rgba(0, 0, 0, 0.6);

    border-radius: 0 0 1.5rem 0;

    &::after {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        top: 0.3rem;
        right: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(270deg);
    }

    &::before {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        bottom: -1.5rem;
        left: 0.3rem;

        width: 1.5rem;
        height: 1.5rem;

        transform: rotate(270deg);
    }
}

/* weather */
.weather--theme-solid-rounded {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 0 1.5rem;
    align-self: start;

    &::after {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        top: 0.3rem;
        left: -1.5rem;

        width: 1.5rem;
        height: 1.5rem;
    }

    &::before {
        content: "";
        position: absolute;

        background-image: url("/assets/images/rounded-corner.svg");
        background-size: contain;

        bottom: -1.5rem;
        right: 0.3rem;

        width: 1.5rem;
        height: 1.5rem;
    }
}
