/* fade theme */
.asset--metadata--theme-fade::before {
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    z-index: var(--z-base);
    width: 150%;
    height: 200%;
    content: "";
    background-image: radial-gradient(
        100% 100% at 0% 100%,
        var(--fade-gradient)
    );
}

.frame--layout-splitview:nth-child(2) .asset--metadata--theme-fade::before {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    left: unset;
    z-index: var(--z-base);
    width: 150%;
    height: 200%;
    content: "";
    background-image: radial-gradient(
        100% 100% at 100% 100%,
        var(--fade-gradient)
    );
}

@media (orientation: portrait) {
    .frame--layout-splitview:nth-child(2) .asset--metadata--theme-fade::before {
        position: absolute;
        right: unset;
        bottom: -1rem;
        left: -1rem;
        z-index: var(--z-base);
        width: 150%;
        height: 200%;
        content: "";
        background-image: radial-gradient(
            100% 100% at 0% 100%,
            var(--fade-gradient)
        );
    }
}

/* clock */
.clock--theme-fade::before {
    position: absolute;
    top: 0;
    bottom: unset;
    left: 0;
    z-index: var(--z-base);
    width: 150%;
    height: 200%;
    content: "";
    background-image: radial-gradient(100% 100% at 0% 0%, var(--fade-gradient));
}

/* weather */
.weather--theme-fade::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    z-index: var(--z-base);
    width: 150%;
    height: 200%;
    content: "";
    background-image: radial-gradient(
        100% 100% at 100% 0%,
        var(--fade-gradient)
    );
}
