@import url("../../node_modules/choices.js/public/assets/styles/choices.min.css");

body#url-builder {
    overflow: auto;
    background-color: var(--cool-grey);
}

.url-container {
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    background-color: white;
    padding: 1.5rem;
    z-index: var(--z-base);
    width: 50%;
    border-radius: 0.5rem;

    @media screen and (max-width: 60rem) {
        width: 100%;
    }
}

#url-result--url {
    padding: 0.75rem;

    background: rgba(51, 51, 51, 0.05);
    border: 1px solid var(--mid-grey);
    border-radius: 0.375rem;

    font-weight: 700;
    font-size: 1rem;

    color: var(--dark-grey);

    &.with-error {
        border: 2px solid var(--red);
        color: var(--red);
    }

    a {
        word-wrap: break-word;
        color: var(--blue);
    }
}

#url-result--error {
    padding: 0 0 1rem 0;
    font-weight: 800;
    color: var(--red);
    font-size: 1.2rem;
}

.url-container--form {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 87.5rem;
    min-height: 100vh;
    z-index: var(--z-base);
    @media screen and (max-width: 60rem) {
        max-width: 45.25rem;
    }

    h2 {
        margin: 2rem 0 0 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.url-container--form--content {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 60rem) {
        flex-direction: column;
    }
}

.url-container--form--content #url-builder-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label,
    legend {
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--dark-grey);
    }

    .form-group--description {
        font-size: 0.9375rem;
        color: var(--dark-grey);
    }

    .form-group--description:empty {
        display: none;
    }

    .choices__inner {
        background-color: #fff;
        border: var(--mid-grey) 0.0625rem solid;
        font-size: 0.9375rem;
        color: var(--mid-grey);
        cursor: pointer;
        border-radius: 0.25rem;
    }

    input {
        color: var(--mid-grey);
        background-color: #fff;
    }

    .choices__list--multiple .choices__item {
        background-color: var(--blue);
        border-radius: 0.4rem;
        border: none;
        font-size: 1rem;
    }
    .choices[data-type*="select-multiple"] .choices__button,
    .choices[data-type*="text"] .choices__button {
        border-left: none;
        background-size: 0.75rem;
    }

    .choices__list--multiple .choices__item[data-deletable] {
        padding: 0.5625rem 0.75rem 0.75rem 0.75rem;
    }

    /* Radio Group */
    .form-group--radio-group {
        display: flex;
        gap: 1.5rem;
        label,
        legend {
            font-weight: 400;
            cursor: pointer;
        }
        input {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
        }
    }

    .form-group--radio {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        cursor: pointer;
    }

    /* Select */
    select {
        background-color: #fff;
        border: var(--mid-grey) 0.0625rem solid;
        outline: none;
        font-size: 0.9375rem;
        color: var(--dark-grey);
        cursor: pointer;
        border-radius: 0.25rem;
        padding: 0.5rem;
        appearance: none;
        background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_193_151" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32"><rect y="32" width="32" height="32" transform="rotate(-90 0 32)" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_193_151)"><path d="M24.2119 13.3109L15.9769 21.5459L7.74219 13.3109L9.53252 11.5206L15.9769 17.9652L22.4215 11.5206L24.2119 13.3109Z" fill="%231E83F7"/></g></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
    }

    /* Number and Text */
    input[type="number"],
    input[type="text"] {
        align-self: flex-start;
        background-color: #fff;
        border: var(--mid-grey) 0.0625rem solid;
        outline: none;
        font-size: 0.9375rem;
        color: var(--dark-grey);
        border-radius: 0.25rem;
        padding: 0.5rem;
    }
}
.result--container {
    position: relative;
    width: 50%;
    padding: 0;

    @media screen and (max-width: 60rem) {
        width: 100%;
    }
}

.result {
    position: sticky;
    top: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    z-index: var(--z-base);
    width: 100%;
    border-radius: 0.5rem;

    @media screen and (max-width: 60rem) {
        position: static;
    }

    &:hover .copy {
        opacity: 1;
    }
    .copy {
        cursor: pointer;
        border-radius: 0.25rem;
        padding: 0.5rem;
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
        width: 2.2rem;
        height: 2.2rem;
        background-color: var(--blue);
        border: none;
        outline: none;
        opacity: 0;
        transition:
            opacity 0.3s,
            background-color 0.3s 0.3s;

        &.copied {
            background-color: var(--mint-green);
            opacity: 1;
            transition: none;
        }

        &.copy-failed {
            background-color: var(--red);
            opacity: 1;
            transition: none;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: #fff;
        }
    }
}

.extended-link {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    background-color: var(--mint-green);
    outline: none;
    border: none;
    color: var(--cool-grey);
    font-weight: 600;
    border-radius: 0.4rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: filter 0.2s ease;
    margin-bottom: 1.5rem;
    display: inline-block;
    &:hover {
        filter: brightness(85%);
    }
}

/*.extended {
    h2 {
        margin-top: 2rem;
    }
}*/
