@import url("../../node_modules/choices.js/public/assets/styles/choices.min.css");

body#url {
    overflow: auto;
    background-color: var(--cool-grey);
}

.url-container {
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: var(--z-base);
}

.url-container--form {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 45.25rem;
    min-height: 100vh;
    z-index: var(--z-base);
}

.url-container--form--content {
    /* max-width: 31.25rem; */
    /* max-width: 60rem; */
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;

    #url-builder-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
