@import url("../../node_modules/choices.js/public/assets/styles/choices.min.css");

body#url {
    overflow: auto;
}

.url-container {
    display: flex;
    /* align-items: stretch; */
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.content {
    position: relative;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: var(--z-base);
}

.url-container--form {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 100vh;
    z-index: var(--z-base);
}

.url-container--form--content {
    /* max-width: 31.25rem; */
    /* max-width: 60rem; */
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.url-container--form--content .form-group {
    margin-top: .5rem;
}

.url-container--form--content #url-result {
    margin-top: .5rem;
}