/* --- weather --- */
#weather {
    position: relative;
    color: #fff;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);
    padding: 1rem 1.5rem 1rem 1rem;

    z-index: var(--z-clock);
}

.layout-splitview #weather {
    padding: 1rem 1rem 1rem 1.5rem;
}

@media screen and (max-width: 31.25rem) {
    #weather {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }

    .layout-splitview #weather {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
}

.weather--theme-fade::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 200%;
    background-image: radial-gradient(
        100% 100% at 0% 100%,
        var(--fade-gradient)
    );
    z-index: var(-z-base);
}

.weather {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    z-index: 1;
}

.weather--temp {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    gap: 0.5rem;
}

.weather--temp--value {
    display: flex;
}

.weather--temp--unit {
    font-size: 1.5rem;
    padding: 0.6rem 0 0 0.1rem;
}

.weather--description {
    display: flex;
    padding-top: 0.1rem;
    gap: 0.5rem;
    align-items: end;
}

.weather--description--icon {
    width: 1rem;
    height: 1rem;
}

.weather--description--icon svg {
    fill: #fff;
    opacity: 0.8;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}

.weather--description--value {
    z-index: 1;
}

/* Splitview */
.layout-splitview {
    #weather,
    .weather {
        text-align: right;
        align-items: flex-end;
    }
    .weather--theme-fade::before {
        content: "";
        position: absolute;
        top: 0;
        left: unset;
        right: 0;
        bottom: unset;
        width: 150%;
        height: 200%;
        background-image: radial-gradient(
            100% 100% at 100% 0%,
            var(--fade-gradient)
        );
        z-index: var(-z-base);
    }
    .weather--theme-solid {
        border-radius: 0 0 0 2rem;
    }
}

/* solid theme */
.weather--theme-solid {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 2rem 0 0;
    align-self: start;
}

/* sleep mode */
.sleep #weather {
    display: none;
}
