/* --- weather --- */
#weather {
    position: relative;
    color: #fff;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);
    padding: 1rem 1.5rem 1rem 1rem;

    z-index: 10000;
}

.layout-splitview #weather {
    padding: 1rem 1rem 1rem 1.5rem;
}

@media screen and (max-width: 31.25rem) {
    #weather {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }

    .layout-splitview #weather {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
}

.weather--theme-fade::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    width: 150%;
    height: 200%;
    background-image: radial-gradient(
        100% 100% at 0% 100%,
        hsla(0, 0%, 0%, 0.59) 0%,
        hsla(0, 0%, 0%, 0.582) 5.2%,
        hsla(0, 0%, 0%, 0.561) 10.9%,
        hsla(0, 0%, 0%, 0.529) 16.9%,
        hsla(0, 0%, 0%, 0.487) 23.3%,
        hsla(0, 0%, 0%, 0.437) 29.9%,
        hsla(0, 0%, 0%, 0.382) 36.8%,
        hsla(0, 0%, 0%, 0.324) 43.8%,
        hsla(0, 0%, 0%, 0.266) 51%,
        hsla(0, 0%, 0%, 0.208) 58.2%,
        hsla(0, 0%, 0%, 0.153) 65.4%,
        hsla(0, 0%, 0%, 0.103) 72.6%,
        hsla(0, 0%, 0%, 0.061) 79.7%,
        hsla(0, 0%, 0%, 0.029) 86.7%,
        hsla(0, 0%, 0%, 0.008) 93.5%,
        hsla(0, 0%, 0%, 0) 100%
    );
    z-index: 0;
}

.weather {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-size: 1rem;

    z-index: 1;
}

.weather--temp {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    gap: 0.5rem;
}

.weather--temp--value {
    display: flex;
}

.weather--temp--unit {
    font-size: 1.5rem;
    padding: 0.6rem 0 0 0.1rem;
}

.weather--description {
    display: flex;
    padding-top: 0.1rem;
    gap: 0.5rem;
    align-items: end;
}

.weather--description--icon {
    width: 1rem;
    height: 1rem;
}

.weather--description--icon svg {
    fill: #fff;
    opacity: 0.8;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}

.weather--description--value {
    z-index: 1;
}

/* Splitview */
.layout-splitview #weather,
.layout-splitview .weather {
    text-align: right;
    align-items: flex-end;
}

.layout-splitview .weather--theme-fade::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: unset;
    right: -1rem;
    bottom: unset;
    width: 150%;
    height: 200%;
    background-image: radial-gradient(
        100% 100% at 100% 0%,
        hsla(0, 0%, 0%, 0.59) 0%,
        hsla(0, 0%, 0%, 0.582) 5.2%,
        hsla(0, 0%, 0%, 0.561) 10.9%,
        hsla(0, 0%, 0%, 0.529) 16.9%,
        hsla(0, 0%, 0%, 0.487) 23.3%,
        hsla(0, 0%, 0%, 0.437) 29.9%,
        hsla(0, 0%, 0%, 0.382) 36.8%,
        hsla(0, 0%, 0%, 0.324) 43.8%,
        hsla(0, 0%, 0%, 0.266) 51%,
        hsla(0, 0%, 0%, 0.208) 58.2%,
        hsla(0, 0%, 0%, 0.153) 65.4%,
        hsla(0, 0%, 0%, 0.103) 72.6%,
        hsla(0, 0%, 0%, 0.061) 79.7%,
        hsla(0, 0%, 0%, 0.029) 86.7%,
        hsla(0, 0%, 0%, 0.008) 93.5%,
        hsla(0, 0%, 0%, 0) 100%
    );
    z-index: 0;
}

/* solid theme */
.weather--theme-solid {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 2rem 0 0;
    align-self: start;
}

.layout-splitview .weather--theme-solid {
    border-radius: 0 0 0 2rem;
}

/* sleep mode */
.sleep #weather {
    display: none;
}
