/* --- weather --- */
#weather-container {
    position: relative;
}

.weather {
    position: relative;
    color: #fff;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);
    padding: 1rem 1rem 1rem 1.5rem;
    text-align: right;

    display: flex;
    align-items: flex-end;
    flex-direction: column;

    font-size: 1rem;

    z-index: var(--z-clock);
}

@media screen and (max-width: 31.25rem) {
    .weather {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
}

.weather--temp {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    gap: 0.5rem;
}

.weather--temp--value {
    display: flex;
}

.weather--temp--unit {
    font-size: 1.5rem;
    padding: 0.6rem 0 0 0.1rem;
}

.weather--description {
    display: flex;
    padding-top: 0.1rem;
    gap: 0.5rem;
    align-items: center;
}

.weather--description--icon {
    width: 1rem;
    height: 1rem;
}

.weather--description--icon svg {
    fill: #fff;
    opacity: 0.8;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}

.weather--description--value {
    z-index: 1;
}

/* sleep mode */
.sleep #weather-container {
    display: none;
}

.weather--forecast {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.weather--forecast--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}
