/* --- weather --- */
#weather-container {
    position: relative;
    opacity: 1;
    transition: opacity 1s ease-out;
    will-change: opacity;
}

#weather-container.htmx-swapping {
    opacity: 0;
}

.weather {
    position: relative;
    z-index: var(--z-clock);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    text-align: right;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 31.25rem) {
    .weather {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
}

.weather--temp {
    display: flex;
    gap: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
}

.weather--temp--value {
    display: flex;
}

.weather--temp--unit {
    padding: 0.6rem 0 0 0.1rem;
    font-size: 1.5rem;
}

.weather--stats {
    z-index: var(--z-clock);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    font-size: 1rem;
    text-align: right;
}

.weather--stat {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-top: 0.1rem;
}

.weather--stat--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
}

.weather--stat--icon svg {
    max-width: 1rem;
    max-height: 1rem;
    opacity: 0.8;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
    fill: #fff;
}

.weather--stat--value {
    z-index: 1;
}

/* sleep mode */
.sleep #weather-container {
    display: none;
}

.weather--forecast {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
}

.weather--forecast--item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
}
