/* vietnamese */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background-color: #000;
}

#kiosk {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    opacity: 1;
    transition: opacity 3s ease-out;

    z-index: 0;
}

/* Fade transition */
#kiosk.htmx-swapping {
    opacity: 0;
    transition: opacity 3s ease-out;
}

/* END Fade transition */

/* Cross fade transtion */
@keyframes fade-in {
    from {
        opacity: 0;
    }
}

#kiosk.htmx-settling .htmx-added {
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/* END Cross fade transtion */

.kiosk--spinner {
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.frame {
    position: absolute;
    width: 100%;
    height: 100%;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.frame-black-bg {
    background-color: #000;
}

.frame--image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.frame--image img {
    position: relative;

    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: 100%;
}

.frame--image-fillscreen {
    object-fit: contain;
}

.frame--image-fit-contain {
    object-fit: contain;
}

.frame--image-fit-fill {
    object-fit: fill;
}

.frame--image-fit-cover {
    object-fit: cover;
    object-position: 50%;
}

.frame--image-fit-none {
    object-fit: none;
}

.frame--background {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
}

.frame--background img {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.frame--date {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.error-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.error {
    background-color: rgba(204, 0, 0, 0.4);
    border: 2px solid rgb(204, 0, 0);
    max-width: 560px;
    width: 100%;
    color: #fff;
    padding: 2rem;
    border-radius: 12px;
}

.error--title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.error--message {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 0;
}

.error svg {
    max-width: 2rem;
    fill: #fff;
}

.progress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
}

@keyframes progress {
    to {
        width: 0%;
    }
}

.progress--bar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #1e83f7;
    animation-name: progress;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#offline {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    display: none;
}

#offline svg {
    filter: drop-shadow(0px 0px 1rem black);
}

.offline {
    display: block !important;
}

#clock {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    z-index: 10000;
}

.clock--date {
    font-size: 1.5rem;
    opacity: 0.8;
}
