/* vietnamese */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 100%; /* 16px */
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background-color: #000;
}

@media screen and (max-width: 500px) {
    html,
    body {
        font-size: 80%; /* 16px */
    }
}

/* --- koisk (main ciontainer) ---- */
#kiosk {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    opacity: 1;
    transition: opacity 3s ease-out;

    z-index: 0;
}

/* Fade transition */
#kiosk.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
/* END Fade transition */

/* Cross fade transtion */
@keyframes fade-in {
    from {
        opacity: 0;
    }
}

#kiosk.htmx-settling .htmx-added {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* END Cross fade transtion */

.kiosk--spinner {
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

/* --- frame --- */
.frame {
    position: absolute;
    width: 100%;
    height: 100%;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.frame-black-bg {
    background-color: #000;
}

.frame--image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.frame--image img {
    position: relative;

    max-width: 100%;
    max-height: 100%;
}

.frame--image-fit-contain {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.frame--image-fit-cover {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.frame--background {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
}

.frame--background img {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* --- image metadata --- */
.image--metadata {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    max-width: 70vw;
    padding: 1rem;
    color: #fff;
    font-size: 1.1rem;
    text-align: right;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.image--metadata .responsive-break {
    display: none;
}

.image--metadata:empty,
.image--metadata--date:empty,
.image--metadata--exif:empty,
.image--metadata--location:empty {
    display: none;
    padding: 0;
}

.image--metadata--date {
    font-size: 1.3rem;
    padding-left: 3rem;
}
.image--metadata--exif {
    padding-left: 3rem;
}
.image--metadata--exif--fnumber {
    display: inline-block;
    font-size: 0.84rem;
    font-weight: bold;
    transform: translate(1px, -3px);
}
.image--metadata--exif--seperator {
    opacity: 0.3;
    padding: 0 0.5rem;
}
.image--metadata--location {
    padding-left: 3rem;
}

@media screen and (max-width: 500px) {
    .image--metadata {
        padding: 0.5rem;
        max-width: 50vw;
    }

    .image--metadata--date,
    .image--metadata--exif,
    .image--metadata--location {
        padding-left: 0.5rem;
    }

    .image--metadata--location span {
        display: none;
    }
    .image--metadata--location .responsive-break {
        display: inline;
    }
}

/* --- error --- */
.error-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.error {
    background-color: rgba(204, 0, 0, 0.4);
    border: 2px solid rgb(204, 0, 0);
    max-width: 560px;
    width: 100%;
    color: #fff;
    padding: 2rem;
    border-radius: 12px;
}

.error--title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.error--message {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 0;
}

.error svg {
    max-width: 2rem;
    fill: #fff;
}

/* --- progress bar --- */
.progress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
}

.progress--bar {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e83f7;
    transition: width 0.03s linear; /* Smooth transition for the width changes */
    will-change: width;
}

/* --- offline icon --- */
#offline {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    display: none;
}

#offline svg {
    filter: drop-shadow(0px 0px 1rem black);
}

.offline {
    display: block !important;
}

/* --- clock --- */
#clock {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    text-shadow: 0 0 20px black;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.500437675070028) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    z-index: 10000;
}

#clock:empty {
    display: none;
    padding: 0;
}

@media screen and (max-width: 500px) {
    #clock {
        padding: 0.5rem;
    }
}

.clock--date {
    font-size: 1.5rem;
    opacity: 0.8;
}

.clock--time {
    padding-right: 3rem;
    font-size: 3rem;
}

/* --- menu --- */
.navigation {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    opacity: 1;
    transition: opacity 0.5s ease;
    will-change: opacity;
    box-shadow:
        rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.navigation--item {
    width: 3.62rem;
    height: 3.62rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navigation--item--separator {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-hidden {
    opacity: 0;
}

.navigation svg {
    fill: white;
    max-width: 2rem;
    max-height: 2rem;
}

/* nav fullscreen */
.navigation--fullscreen--exit {
    display: none;
    visibility: hidden;
}

.navigation--fullscreen-enabled .navigation--fullscreen--exit {
    display: inline;
    visibility: visible;
}

.navigation--fullscreen-enabled .navigation--fullscreen--enter {
    display: none;
    visibility: hidden;
}

/* nav controls */
.navigation--control--play {
    display: none;
    visibility: hidden;
}

.navigation--control--paused .navigation--control--play {
    display: inline;
    visibility: visible;
}

.navigation--control--paused .navigation--control--pause {
    display: none;
    visibility: hidden;
}
