package components

import (
	"fmt"
	"github.com/damongolding/immich-kiosk/internal/common"
	"github.com/damongolding/immich-kiosk/internal/templates/partials"
)

templ Video(viewData common.ViewData) {
	<div class="frame">
		<div class="frame--video">
			<video
				muted
				autoplay
				playsinline
				src={ fmt.Sprintf("/video/%s", viewData.Images[0].ImmichAsset.ID) }
			></video>
		</div>
	</div>
	@partials.RenderHistory(viewData)
}
