package partials

templ DaveningTimes() {
	<section id="davening-times" aria-label="Local shul davening times">
		<h2 class="davening-times__title">Davening Times</h2>
		<dl class="davening-times__list">
			<div class="davening-times__row">
				<dt>Shachris</dt>
				<dd>8:00 AM</dd>
			</div>
			<div class="davening-times__row">
				<dt>Mincha</dt>
				<dd>8:30 PM</dd>
			</div>
			<div class="davening-times__row">
				<dt>Maariv</dt>
				<dd>9:00 PM</dd>
			</div>
		</dl>
	</section>
}
