package partials

// historyForm renders a form for kiosk history
templ History() {
	<form id="kiosk-history" hx-swap-oob="true">
		<input class="kiosk-history--entry" type="hidden" value=""/>
	</form>
}
