package partials

import (
	"fmt"
	"github.com/damongolding/immich-kiosk/internal/common"
)

// crossFadeDurationCSS generates CSS for the cross-fade animation
func crossFadeDurationCSS(crossFadeDuration float32) string {
	return fmt.Sprintf(`
	    <style>
			.transition-cross-fade .frame {
                animation-duration: %.1fs;
            }
		</style>
	`, crossFadeDuration)
}

// fadeDurationCSS generates CSS for the fade animation
func fadeDurationCSS(fadeDuration float32) string {
	return fmt.Sprintf(`
	    <style>
			.transition-fade #kiosk.htmx-swapping {
			    transition: opacity %.1fs ease-out;
			}
		</style>
	`, fadeDuration)
}

func slideDurationCSS(slideDuration float32) string {
	return fmt.Sprintf(`
	    <style>
			.transition-slide .frame {
				animation-duration: %.1fs;
			}
		</style>
	`, slideDuration)
}

func pushDurationCSS(pushDuration float32) string {
	return fmt.Sprintf(`
	    <style>
			.transition-push .frame.htmx-added,
		    .transition-push .frame.htmx-added ~ .frame {
				animation-duration: %.1fs;
			}
		</style>
	`, pushDuration)
}

templ KioskContainer(viewData common.ViewData, secret string) {
	switch viewData.Transition {
		case "cross-fade":
			<div
				id="kiosk-container"
				hx-swap="beforeend"
				class={ fmt.Sprintf("transition-%s", viewData.Transition), fmt.Sprintf("layout-%s", viewData.Layout), templ.KV("frameless", viewData.Frameless), viewData.CustomCSSClass }
				{ webhookAttributes(viewData, "", secret)... }
			>
				@templ.Raw(crossFadeDurationCSS(viewData.CrossFadeTransitionDuration))
				{ children... }
			</div>
		case "fade":
			<div
				id="kiosk-container"
				hx-swap={ fmt.Sprintf("innerHTML swap:%.1fs", viewData.FadeTransitionDuration) }
				class={ fmt.Sprintf("transition-%s", viewData.Transition), fmt.Sprintf("layout-%s", viewData.Layout), templ.KV("frameless", viewData.Frameless), viewData.CustomCSSClass }
				{ webhookAttributes(viewData, "", secret)... }
			>
				@templ.Raw(fadeDurationCSS(viewData.FadeTransitionDuration))
				{ children... }
			</div>
		case "slide-right", "slide-left", "slide-up", "slide-down", "slide-random":
			<div
				id="kiosk-container"
				hx-swap={ fmt.Sprintf("beforeend settle:%.1fs", viewData.SlideTransitionDuration) }
				class={ fmt.Sprintf("transition-slide transition-%s", viewData.Transition), fmt.Sprintf("layout-%s", viewData.Layout), templ.KV("frameless", viewData.Frameless), viewData.CustomCSSClass }
				{ webhookAttributes(viewData, "", secret)... }
			>
				@templ.Raw(slideDurationCSS(viewData.SlideTransitionDuration))
				{ children... }
			</div>
		case "push-right", "push-left", "push-up", "push-down", "push-random":
			<div
				id="kiosk-container"
				hx-swap={ fmt.Sprintf("afterbegin settle:%.1fs", viewData.PushTransitionDuration) }
				class={ fmt.Sprintf("transition-push transition-%s", viewData.Transition), fmt.Sprintf("layout-%s", viewData.Layout), templ.KV("frameless", viewData.Frameless), viewData.CustomCSSClass }
				{ webhookAttributes(viewData, "", secret)... }
			>
				@templ.Raw(pushDurationCSS(viewData.PushTransitionDuration))
				{ children... }
			</div>
		default:
			<div
				id="kiosk-container"
				hx-swap="beforeend"
				class={ "transition-none", fmt.Sprintf("layout-%s", viewData.Layout), templ.KV("frameless", viewData.Frameless), viewData.CustomCSSClass }
				{ webhookAttributes(viewData, "", secret)... }
			>
				{ children... }
			</div>
	}
}
