package partials

templ Recovery(visable bool) {
	<div id="kiosk-offline-overlay" role="alert" class={ templ.KV("visible", visable) }>
		<img src="/assets/images/kiosk-logo.svg" alt="Kiosk Logo"/>
		<h1>
			Immich Kiosk
		</h1>
		<p>
			Trying to reconnect automatically&hellip;
		</p>
	</div>
}
